*{
    margin: 0;
}
.welcome_div{
    position: relative;
    padding: 0;
    margin-top: 0;
}

.welcome_image {
    width: 100%;
    padding: 0;
    margin-top: 0;
    height: 100vh;
    object-fit: cover;
}

.text_overlay{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 50px;
    top: 35%; 
    left: 50%;
    color: white;
    padding: 4px 4px;
    border-radius: 10px;
  
    transform: translate(-50%, -50%);
}

.welcome_text{
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 700;
    line-height: 40px;
    max-lines: 2;
    text-shadow: 2px 2px 5px black;
   
}

.welcome_buttons{
    display: flex;
    flex-direction: column;
    gap: 11px;
    align-items: center;
}

.welcome_buttons button{
    padding: 10px;
    width: 140px;
    border-radius: 8px;
    border: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    background-color: aliceblue;
}

.welcome_buttons .button2 {
width: 200px;
}