*{
    margin: 0;
}
.welcome_div{
    position: relative;
    padding: 0;
    margin-top: 0;
}

.welcome_image {
    width: 100%;
    padding: 0;
    margin-top: 0;
    height: 100vh;
    object-fit: cover;
}

.text_overlay{
    position: absolute;
    top: 35%; 
    left: 50%;
    color: white;
    padding: 4px 4px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.55);
    transform: translate(-50%, -50%);
}

.welcome_text{
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 700;
    line-height: 40px;
    max-lines: 2;
    text-shadow: 3px 3px 5px black;
   
}